
@font-face {  
  font-family: "CirrusCumulus";
  src: local("CirrusCumulus"),
  url(./asset/fonts/CirrusCumulus.otf) format("truetype");
};

:root {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  background-size: cover;
  background-color: rgb(227, 217, 221);
  background: linear-gradient(
    185deg,
    rgba(227, 217, 221, 1) 0%,
    rgba(212, 232, 255, 1) 100%
  );

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  color: black;
  text-decoration: inherit;
}
a:hover {
  color: #05f73a;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}



h1 {
  font-family: 'CirrusCumulus';
  font-size: 7em;
  color:rgb(15, 187, 235);
  line-height: 1.1;
}


button {
  border: transparent;
  font-size: 1.2em;
  font-family: Open Sans;
  background-color: transparent;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #64ff86;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

@media (prefers-color-scheme: light) {
  :root {
    background-size: cover;
    background-color: rgb(227, 217, 221);
    background: linear-gradient(
    185deg,
    rgba(227, 217, 221, 1) 0%,
    rgba(212, 232, 255, 1) 100%
  );
  }
  /* a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  } */
}
